
*.png
*.jpg
*.jpeg
*.webp
*.bmp
*.tga
*.mp3
*.wav
*.ogg
*.flac
*.mp4
*.webm
*.mov
*.obj
*.fbx
*.glb
*.gltf
*.blend
*.psd
*.ttf
*.otf
*.rar
*.txt
*.zip
*7z
*.bin
*.gif
*.cfg
*.aseprite
*.unitypackage
*.asset
*.meta
*.unity
*.unity.meta


!*.import


*.md5
*.ctex
*.stex
*.scn
*.mesh
*.material
*.anim
*.tres
*.bin


.import/
.godot/
.godot/imported/
